{% block content %}
{% load static %}
<style>
/* Restaurar el tamaño de fuente en el modal */
#registroModal {
  font-size: 1rem; /* Otra vez el tamaño de fuente deseado para el modal */
}

</style>
<div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="registroModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registroModalLabel">Registrarse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="#" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario:</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo del usuario:</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <!-- Otros campos del formulario -->
          <!-- Botón de registro -->
          <button type="submit" class="btn btn-primary">Registrarse</button>
        </form>
      </div>
      <!-- Puedes agregar un footer si es necesario -->
    </div>
  </div>
</div>
  </div>
  {% block scripts %}
  <script>
    document.getElementById('registerBtn').addEventListener('click', function() {
      window.location.href = "";
    });
  </script>
  {% endblock %}
{% endblock content %}